*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "CursorGothic";
  src: url("./fonts/CursorGothic_Regular-s.p.a361088d.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CursorGothic";
  src: url("./fonts/CursorGothic_Italic-s.p.00bb2606.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "CursorGothic";
  src: url("./fonts/CursorGothic_Bold-s.p.95169710.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CursorGothic";
  src: url("./fonts/CursorGothic_BoldItalic-s.p.036859cb.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --font-sans:
    "CursorGothic", "CursorGothic Fallback", system-ui, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  --primary: #13120a;
  --buttonBg: #edecec;
  --header-height: 52px;
  --text-color: #edecec;
  --text-color-secondary: #acaba7;
  --border-color: #292821;
  --text-color-tertiary: #72706c;
}

html {
  font-family: var(--font-sans);
  background-color: var(--primary);
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}

h1 {
  font-weight: 400;
  font-size: 26px;
}
button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  background-color: var(--buttonBg);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--primary);
}

nav {
  height: var(--header-height);
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding-inline: 65px;
  padding-right: 90px;
}
img {
  display: block;
}

.logo {
  width: 96px;
  height: 30px;
  display: block;
}
.logo-link {
  display: inline-flex;
  align-items: center;
  position: relative;
  top: 1px;
}

ul {
  list-style-type: none;
}

#nav-list {
  display: flex;
  gap: 35px;
  justify-self: center;
  color: var(--text-color);
  font-size: 14px;
}

nav a {
  color: var(--text-color);
}

.navButton {
  border-radius: 20px;
  padding: 5.6px 10px 5.6px 10px;
  font-size: 14px;
  line-height: 14px;
}

#signInBTN {
  color: var(--text-color);
  border: 1px solid #3f3e37;
  background-color: var(--primary);
}

#navButtonBox {
  display: flex;
  gap: 10px;
}

main {
  padding: 112px 20px 67px 20px;
  margin-top: var(--header-height);
  min-height: 70vh;
  overflow-y: auto;
}

main h1 {
  color: var(--text-color);
  line-height: 16px;
  margin-bottom: 22.4px;
}

#starter button {
  font-size: 16px;
  border-radius: 24px;
  padding: 12.48px 21.6px 12.8px 21.6px;
}

#starter {
  margin-bottom: 56px;
}

.hero {
  position: relative;
  height: 680px;
  overflow: hidden;
  min-width: 100%;
}

.hero-bg {
  position: absolute;
  inset: 0;
  background-image: url("./images/editor.webp");
  background-size: cover;
  background-position: center;
  pointer-events: none;
  z-index: 0;
  border-radius: 5px;
}

.hero-content {
  position: relative;
  z-index: 1;
  height: 100%;
}

.hero-view {
  margin: 0 65px 0 65px;
}

.cursorIDE {
  background-color: #13120a;
  width: 1040px;
  height: 616px;
  border-radius: 10px;
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.cursorIDE-Top {
  height: 27px;
  display: flex;
  justify-content: space-between;
  padding-inline: 8px;
  align-items: center;
  border-bottom: 0.5px solid var(--border-color);
}

.cursorIDE-windowActions-Box {
  display: flex;
  gap: 5px;
}
.cursorIDE-windowActions {
  background-color: #3f3e37;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
#cursorIDE-TitleName {
  color: #acaba7;
}
#cursorIDE-getCursor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 14px;
  color: #edecec;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease;
}

#cursorIDE-getCursor p {
  color: #acaba7;
}

#getCursorBtn {
  color: #acaba7;
  background: none;
  margin-bottom: 8px;
}

#cursorIDE-hover:hover #cursorIDE-getCursor {
  opacity: 1;
  pointer-events: auto;
}

.cursorIDE-body {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.75fr;
  gap: 16px;
  flex: 1;
}

.cursorIDE-column {
  display: flex;
  flex-direction: column;
  color: var(--text-color-secondary);
  padding: 7px;
  border-right: 0.5px solid var(--border-color);
  height: 100%;
}

#column-heading {
  font-weight: 500;
  font-size: 11px;
  margin-left: 6px;
  padding: 6px;
}

#review-content {
  padding: 10px 12px 10px 14px;
  width: 100%;
  background-color: #201e18;
}

.review-content-1 {
  display: flex;
  gap: 5px;
}
.review-body {
  width: 100%;
  padding-right: 5px;
}
.review-header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #edecec;
}

.review-content-1 p {
  font-size: 11px;
}

.review-header-time {
  font-size: 11px;
  color: var(--text-color-tertiary);
}

.review-description {
  font-size: 11px;
  color: var(--text-color-tertiary);
  margin-top: 5px;
}

.build-column-heading {
  font-weight: 500;
  font-size: 12px;
  margin-left: 6px;
  padding: 7px;
  color: var(--text-color);
}

.build-prompt {
  font-size: 13px;
  border-radius: 8px;
  line-height: 17px;
  padding: 7px 8px 7px 8px;
  color: var(--text-color);
  background-color: #1b1912;
  border: 0.5px solid var(--border-color);
  margin-right: 10px;
}

.read-build {
  font-size: 12px;
  padding: 7px 8px 7px 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.read-build p {
  color: #969591;
}

.read-build p span {
  color: #61615b;
}

.plan-build {
  color: var(--text-color);
  font-size: 13px;
  margin-top: 10px;
  line-height: 17px;
}

.trusted-partners {
  margin-top: 60px;
  padding: 0px 20px 33.6px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}
.trusted-partners h3 {
  font-size: 14px;
  font-weight: 400;
}

.partner-logos {
  display: flex;
  gap: 10px;
  margin-top: 24px;
}

.pLogo {
  background-color: #1b1912;
  height: 64px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  padding: 48px 36px;
}

.pLogo img {
  height: 40px;
  width: auto;
  object-fit: contain;
  display: block;
  filter: brightness(0) invert(1);
}

.features {
  padding: 67px 67px 67px 67px;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 87px;
}

.features-box1 {
  background-color: #1b1912;
  height: 680px;
  display: flex;
  padding: 20px;
}
.features-box1-RHS {
  position: relative;
  min-width: 65%;
  overflow: hidden;
  height: 100%;
}

.features-box1-description {
  color: #edecec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 35px;
}
.features-box1-description span {
  font-size: 22px;
  line-height: 29px;
}
.features-box1-view {
  position: absolute;
  inset: 0;
  background-image: url("./images/bg1.webp");
  background-size: cover;
  background-position: center;
  pointer-events: none;
  z-index: 0;
  border-radius: 5px;
  padding: 30px 0 30px 35px;
}

.features-box1-view img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.features-box-1-desc-heading {
  color: var(--text-color);
}

.features-box-1-desc-info {
  color: var(--text-color-tertiary);
  margin-bottom: 30px;
}

.features-box-1-desc-cta {
  color: #f54e00;
  font-size: 16px;
}

.features-box2-view {
  position: absolute;
  inset: 0;
  background-image: url("./images/feature-image2");
  background-size: cover;
  background-position: center;
  pointer-events: none;
  z-index: 0;
  border-radius: 5px;
  padding: 40px 0 40px 0;
}

.features-box2-view img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.features-box2-description {
  color: #edecec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 35px;
}
.features-box2-description span {
  font-size: 22px;
  line-height: 29px;
}
.features-box3-view {
  position: absolute;
  inset: 0;
  background-image: url("./images/sidethree.png");
  background-size: cover;
  background-position: center;
  pointer-events: none;
  z-index: 0;
  border-radius: 5px;
  padding: 40px 0 40px 0;
}

.testimonials {
  display: flex;
  flex-direction: column;
  padding: 67px;
}
.testimonials h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: 36px;
  margin-bottom: 67px;
}
.testimonials-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.testimonials-card {
  min-height: 240px;
  padding: 15.9px 17.5px;
  background-color: #1b1912;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonials-card p {
  font-size: 16px;
  color: var(--text-color);
}

.testimonials-card img {
  height: 40px;
  width: 40px;
  object-fit: contain;
  border-radius: 4px;
}

.testimonial-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.testimonial-person-bio {
  display: flex;
  gap: 10px;
}

.testimonial-name {
  color: var(--text-color);
}
.testimonial-position {
  color: var(--text-color-secondary);
}
